@import '../../Assets/scss/base/export.scss';

.todo-item {
	display: flex;
	position: relative;
	align-items: center;
	transition: 100ms all ease-in;
	padding: 0.4rem 0 0.8rem 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	&:hover {
		background: rgba(0, 0, 0, 0.03);
	}

	.title {
		max-width: 80%;
		margin-top: 3px;
		cursor: pointer;
		overflow: hidden;
		margin-left: 1rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-transform: capitalize;
		span {
			font-weight: 100;
			font-size: 1.3rem;
		}
	}

	.description {
		font-size: 0.7rem;
		opacity: 0.5;
		margin-top: 2px;
		max-width: 400px;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 2px;
	}

	.sub-title {
		display: flex;
	}

	.todo-item-category {
		color: #0d6efd;
		margin-top: 5px;
		cursor: pointer;
		font-size: 12px;
		padding: 2px 6px;
		margin-right: 12px;
		border-radius: 4px;
		white-space: nowrap;
		transition: 100ms all ease-in;
		background-color: rgba($color: #0d6efd, $alpha: 0.05);
		&:hover {
			color: white;
			background-color: rgba($color: #0d6efd, $alpha: 1);
		}
	}

	.todo-item-date {
		white-space: nowrap;
		margin-top: 6px;
		margin-right: 1rem;
		opacity: 0.3;
		font-weight: 400;
		font-size: 0.8rem;
	}

	.right-box {
		display: flex;
		cursor: pointer;
		margin-left: auto;
		position: absolute;
		right: 1rem;
		.todo-item-remove,
		.todo-item-edit {
			width: 30px;
			transition: 100ms all ease-in;
		}

		.todo-item-remove {
			color: rgba(255, 0, 0, 0.2);
			&:hover {
				color: red;
			}
		}

		.todo-item-edit {
			color: rgba(#1271fd, 0.5);
			margin-left: 1rem;
			&:hover {
				color: rgba(#1271fd, $alpha: 1);
			}
		}
	}
}

.todo-item-done {
	background: rgba($color: #029268, $alpha: 0.1) !important;
	.title {
		span {
			text-decoration: line-through 3px rgba($color: #029268, $alpha: 0.7);
		}
	}
}
